body {
  background: linear-gradient(to right, #f8f9fa, #e9ecef);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  margin-top: 50px;
  flex: 1; /* Permite que o container cresça e ocupe o espaço disponível */
}

.card {
  margin-top: 20px;
}

.footer {
  margin-top: auto; /* Empurra o rodapé para o final da página */
  text-align: center;
  padding: 10px 0;
  background-color: #343a40;
  color: #ffffff;
}

.header-logo {
  width: 80px; /* Aumente a largura */
  height: 80px; /* Aumente a altura */
  margin-right: 20px;
}

.header-title {
  font-size: 2.5rem; /* Aumente o tamanho da fonte */
  color: #ffffff;
  font-family: 'Arial', sans-serif; /* Use uma fonte bonita */
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #343a40;
  padding: 20px 0;
}